header{
  text-align: center;
  border-style: ridge;
  border-radius: 50px 50px 50px 50px;
  border-width: 10px;
  border-color: yellow;
  color: #0B334C;
  background-image: radial-gradient(white,skyblue);
}
.botones{
  display: inline;
  background-color: #FFF300;
  background-image: radial-gradient(white 50%,skyblue 30%);
  background-image: linear-gradient(#831616, #000099);
  padding: 10px;
  color:white;
  border-radius: 0px 50px 50px 50px;
  transition-duration: .2s;
  transition-delay: .2s;
  transition-timing-function: ease;
}
nav{
  padding-bottom: 20px;
}
a{
  color: #000B6A;
  transition-duration: .2s;
  transition-delay: .2s;
  transition-timing-function: ease;
}
.imgs{
  float: right;
}
.botones:hover{
  padding: 12px;
  font-size: 20px;
}
a:hover{
  font-size: 20px;
  font-family: verdana;
}
#flecha{
  position: fixed;
  width: 50px;
  height: 50px;
  left: 1850px;
  bottom: 20px;
}
section:hover{
  background-color: black;
  color: white;
}
footer{
  background-color: grey;
  color: black;
}
#nom{
    float: right;
}
.valida{
  text-align: center;
}
ul{
  list-style: none;
}
