header{
  height: 200px;
  background-color: cyan;
  padding: 10px;
  border-style:inset;
  margin-left:10px;
  border-width: 20px;
  border-color: skyblue;
}
nav{
  height: 50px;
  background-color: pink;
  padding: 10px;
  border-style:solid;
  margin: 10px;
  border-color: magenta;
}
header>img{
  float: left;
  width: 75px;
  height: 75px;
}
h1{
  font-family:sans;
}
ol{
  background-color: #FFF300;
  font-size: 30px;
  color:#8F0000;
  font-family: sans;
  list-style-type:disclosure-closed;
  letter-spacing: 5px;;
}
ul{
  background-color: #8F0000;
  text-align: left;
  color: yellow;
  list-style-type:cjk-earthly-branch;
  letter-spacing: 5px;
}
a{
  background-color: #FFF300;
  padding: 10px;
  color:#8F0000;
}
a:hover{
  background-color: #8F0000;
  padding: 10px;
  color:#FFF300;
}
