#flecha{
  position: fixed;
  width: 50px;
  height: 50px;
  left: 1850px;
  bottom: 20px;
}
footer{
  background-color: grey;
}
#f1{
background-color: skyblue;
}
#f2{
background-color: black;
color: white;
}
#f3{
  background-color: black;
  color: white;
  text-align: center;
}
.datos{
  border-style: ridge;
  border-radius: 0px 50px 50px 50px;
  background-image: radial-gradient(white,skyblue);
  color: #0B334C;
  border-width: 10px;
  text-align: center;
  border-color: yellow;
  margin: 0px 800px;
}
