*{
  font-family:sans-serif;
}
.nav{
  font-style: italic;
  font-size: 200%;
  font-variant: small-caps;
  color: purple;
}
.p{
  font-style: normal;
  font-size: 150%;
  font-variant: small-caps;
  color: red;
}
.body{
  background-color: cyan;
  background-image: url(https://us.123rf.com/450wm/sherricrystal/sherricrystal1611/sherricrystal161100033/68045468-un-fractal-de-fondo-simple-con-un-arco-iris-y-espacio-para-texto-adecuado-como-plantilla-dise%C3%B1o-para-el.jpg?ver=6);
background-repeat: no-repeat;
background-size:cover;
}
.p1{
  display: inline-block;
  text-align: right;
  width: 40px;
}
.p2{
  display: inline;
  word-spacing: 100px;
  text-align: center;
  width: 50px;
}
.p3{
  display: inline;
  width: 60px;
}
a{
  display: inline;
  height: 100px ;
  width: 100px ;
}
.nav1{
  display: block;
}
.nav2{
  display: inline;
}
.nav3{
  display: inline-block;
}
.imgI{
  float: left;
}
.imgD{
  float: right;
}
#I{
  float: left;
}
#D{
  float: right;
}
